
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  padding: 20px;
  
  font-family: 'Libre Baskerville', serif;
}

h1 {
  color: white;
  font-size: 68px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
}

p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.25px;
}

.btn {
    margin: 40px;
    padding: 16px;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    text-transform: uppercase;
    color: #EEC7E9;
    text-decoration: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
  height: 100%;  
  position: relative;
  overflow: hidden;  
}

.bg {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    background: url('image/bg2-small.png') no-repeat center center;
    background-size: cover;

    transform: scale(1.1);
  }

  .social-icon {
    width: 25px;
    height: 25px;
    margin: 8px;
}

.nav-social {
    display: flex;
    justify-content: flex-end;
    margin: 16px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 500px;
}

.footer-text {
    font-size: 12px;
    color: white;
    position: fixed;
    bottom: 24px;
    align-self: center;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

@media only screen and (max-width: 414px) {
    .wrap {
        position: initial;
    }
    h1 {
        font-size: 48px;
    }
    .content {
        width: 340px;
    }
    p {
        font-size: 16px;
    }
    .btn {
        margin: 0px;
        font-size: 18px;
    }
}

/* Cat */

.tuna {
  /* steps causes the animation to chunk into 12 equal pieces */
  animation: walk-cycle 1s steps(12) infinite;
  background: url(image/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  margin: 40px auto 0;
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } /* Must be full height of sprite or skipping will happen.*/
}